@{
    ViewData["Title"] = "User Page";
}

<h1>This is User Main Page</h1>

<a href="@Url.Action("Order", "User", new { id = @ViewBag.user })">Order</a>

<a href="@Url.Action("Servis", "User", new { id = @ViewBag.user })">Servis</a>

<a href="@Url.Action("Reservation", "User", new { id = @ViewBag.user })">Reservation</a>


<br />

<a href="@Url.Action("Logout", "User")" type="button" class="btn btn-dark">Logout</a>