@{
    ViewData["Title"] = "Motorbikes";
    Layout = "_LayoutUser";
}

<script>

  function search() {

    console.log("search");
      
    var motorbikes = document.getElementsByClassName("Motorbike");
    let searchText = document.getElementById("searchText").value;

    for (var i = 0; i < motorbikes.length; i++) {
      if (motorbikes[i].innerHTML.toLowerCase().includes(searchText.toLowerCase())) {
        motorbikes[i].style.display = "block";
      }
      else {
        motorbikes[i].style.display = "none";
      }
    }
  }
</script>


  <div class="row" style="padding: 3rem;">
    <input oninput="search()" id="searchText" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 25%;">
  </div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    
    @foreach(Motorbike motorbike in @ViewBag.motorbikes)
    {
        <div class="Motorbike col" id="@motorbike.Name">
            <div class="card">
                <img src="@motorbike.Image" class="card-img-top" alt="@motorbike.Name">
                <div class="card-body">
                    <h5 class="card-title">@motorbike.Name</h5>
                    <p class="card-text">@motorbike.Description</p>
                </div>
                <div class="card-body">

                    <a href="@Url.Action("MotoDetail", new { id = @motorbike.Id })" type="button" class="btn btn-primary">Detail</a>
                    
                </div>
            </div>
        </div>
    }
    
</div>
