@model Reservation
@{
    ViewData["Title"] = "User Page";
}

<h1>This is Reservation page</h1>

@using(Html.BeginForm()){
    <div>
        <div>
            <p>Motorbike: @Html.DropDownListFor(x => x.MotorbikeId, (IEnumerable<SelectListItem>)ViewBag.SelectMotorbikes)</p>
            @Html.ValidationMessageFor(x => x.MotorbikeId)
        </div>
           
        <div>
            <p>Date From: @Html.EditorFor(x => x.StartDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })</p>
            @Html.ValidationMessageFor(x => x.StartDate)
        </div>
            
         <div>
            <p>End Date: @Html.EditorFor(x => x.EndDate, new { htmlAttributes = new { @class = "form-control", @type = "date" } })</p>
            @Html.ValidationMessageFor(x => x.EndDate)
        </div>
    </div>
    
    <button type="submit">Reservate</button>
}