@model Servis

@{
    ViewData["Title"] = "User Page";
}

@using (Html.BeginForm())
{
    <div>
        <div>
            <p>Motorbike Brand: @Html.TextBoxFor(m => m.Brand, new {@class = "form-control"})</p>
        </div>
        <div>
            <p>Motorbike Model: @Html.TextBoxFor(m => m.Model, new {@class = "form-control"})</p>
        </div>
        <div>
            <p>Model Year: @Html.TextBoxFor(m => m.Year, new {@class = "form-control", type="number"})</p>
        </div>
        <div>
            <p>Motorbike SPZ: @Html.TextBoxFor(m => m.SPZ, new {@class = "form-control"})</p>
        </div>
        <div>
            <p>Our branch: @Html.TextBoxFor(m => m.Shop, new {@class = "form-control"})</p>
        </div>
        <div>
            <p>Desciption: @Html.TextAreaFor(m => m.Description, new {@class = "form-control"})</p>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Add Servis</button>
}