@model RegisterForm

@{
    ViewData["Title"] = "Main Page";
}

@Html.ActionLink("Admin", "Index", "Admin")

@Html.ActionLink("User", "Index", "User")



@using (Html.BeginForm())
{
    <div>
        <div>
            <p>First Name: @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})</p>
        </div>
        <div>
            <p>Last Name: @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})</p>
        </div>
        <div>
            <p>Email: @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})</p>
        </div>
        <div>
            <p>Password: @Html.PasswordFor(m => m.Password, new {@class = "form-control"})</p>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
}