@model RegisterForm

@{
    ViewData["Title"] = "Main Page";
}

@Html.ActionLink("Admin", "Index", "Admin")

@Html.ActionLink("User", "Index", "User")



@using (Html.BeginForm())
{
    <div>
        <div>
            @Html.TextBoxFor(m => m.FirstName, new {@class = "form-control"})
        </div>
        <br>
        <div>
            @Html.TextBoxFor(m => m.LastName, new {@class = "form-control"})
        </div>
        <br>
        <div>
            @Html.TextBoxFor(m => m.Email, new {@class = "form-control"})
        </div>
        <br>
        <div>
            @Html.PasswordFor(m => m.Password, new {@class = "form-control"})
        </div>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Login</button>
}