@{
    ViewData["Title"] = "Motorbikes";
    Layout = "_LayoutAdmin";
}

<script>
    function warnInfo()
    {
        alert("Are you sure you want to delete this motorbike?");
    }

    var myModal = document.getElementById('myModal')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
      myInput.focus()
    })

    function search() {
        var motorbikes = document.getElementsByClassName("Motorbike");
        let searchText = document.getElementById("searchText").value;

        for (var i = 0; i < motorbikes.length; i++) {
          if (motorbikes[i].innerHTML.toLowerCase().includes(searchText.toLowerCase())) {
            motorbikes[i].style.display = "block";
          }
          else {
            motorbikes[i].style.display = "none";
          }
        }
    }

</script>

  <div class="row" style="padding: 3rem;">
    <input oninput="search()" id="searchText" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width: 25%;">
  </div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    
    @foreach(Motorbike motorbike in @ViewBag.Motorbikes)
    {
        <div class="Motorbike col">
            <div class="card">
                <img src="@motorbike.Image" class="card-img-top" alt="@motorbike.Name">
                <div class="card-body">
                    <h5 class="card-title">@motorbike.Name</h5>
                    <p class="card-text">@motorbike.Description</p>
                </div>
                <div class="card-body">

                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Remove
                    </button>

                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="staticBackdropLabel">Remove Motorbike</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                    <div class="modal-body">
                                        This motorbike is reserved by several users. Do you want to delete it?
                                    </div>
                                <div class="modal-footer">
                                    @Html.ActionLink("Delete", "Remove", new { id = @motorbike.Id }, new { @class="btn btn-primary", @type="button" })
                                    <a class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    @Html.ActionLink("Edit", "Edit", new { id = @motorbike.Id}, new { @class="btn btn-primary", @type="button" })
                    
                </div>
            </div>
        </div>
    }
    
</div>

<a href="@Url.Action("NewMotorbike")" type="button" class="btn btn-primary" style="position:fixed; bottom:20px; right:20px;" >+</a>